<div class="container">
  <div class="visits-title">
    <h2>Visits in {{ date }} to {{ physio.name }} {{ physio.surname }}</h2>
    <button class="btn btn-primary" (click)="backToPhysio()">
      <i class="fas fa-arrow-left"></i> Back to physio
    </button>
    <button class="btn btn-primary" (click)="backToCalendar()">
      <i class="fas fa-arrow-left"></i> Back to calendar
    </button>
  </div>

  <ul class="list-group mb-4" *ngFor="let visit of visits">
    <li class="list-group-item visit-wrapper" [ngClass]="{'current-patient': visit.patientId === patientId}">
      <span>{{ visit.timeFrom.slice(0, 5) }} - {{ visit.timeTo.slice(0, 5) }}</span>

      <button class="btn btn-primary">Register visit</button>
    </li>
  </ul>
</div>
