$primary-color: #2c3e50;

.btn-primary {
  background-color: $primary-color;

  &:hover {
    background-color: lighten($primary-color, 20%);
  }
}

#choosingModal {
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  & > .modal-dialog {
    width: 100%;
    padding: 0;
    margin: 0;

    .modal-body {
      max-height: 65vh;
      overflow: scroll;


      .btn-primary {
        width: 100%;
        margin-bottom: 5px;

        &:hover {
          background-color: lighten($primary-color, 20%);
          color: white;
          font-weight: bold;
        }
      }
    }

    .btn-choose {
      background-color: $primary-color;
      color: white;
      width: 70%;

      &:hover {
        background-color: lighten($primary-color, 20%);
      }
    }
  }
}
