<a href="#" *ngFor="let messageObject of messageObjects" class="list-group-item list-group-item-action"
   (click)="messageTo($event, messageObject.patient.patientId, messageObject.physio.physioId)">
  <ng-container *ngIf="isPhysio">
    {{ messageObject.patient.name }} {{ messageObject.patient.surname }}
    <p class="small">{{ messageObject.message.message }}</p>
  </ng-container>
  <ng-container *ngIf="!isPhysio">
    {{ messageObject.physio.name }} {{ messageObject.physio.surname }}
    <p class="small">{{ messageObject.message.message }}</p>
  </ng-container>
</a>
