<app-patient-panel-navbar></app-patient-panel-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
<!--        AKTYWNA KARTA: -->
<!--        <a href="#" class="list-group-item list-group-item-action active">-->
<!--          Cras justo odio-->
<!--        </a>-->
        <a href="#" *ngFor="let physio of physiotherapists" class="list-group-item list-group-item-action" (click)="viewProfile($event, physio.physioId)">
          {{ physio.name }} {{ physio.surname }} | {{ physio.licenceNo }}
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Physio details</h5>
          <h6 class="card-subtitle mb-2 text-muted">Information</h6>
          <ng-container *ngIf="!!activePhysio">
            <p class="card-text" class="name-details">{{ activePhysio.name }} {{ activePhysio.surname }}</p>
            <p class="card-text">Email: {{ activePhysio.email }}</p>
            <p class="card-text">Phone number: {{ activePhysio.phoneNumber }}</p>
            <p class="card-text">Licence: {{ activePhysio.licenceNo }}</p>
            <a href="" class="card-link">todo: register visit</a>
          </ng-container>
          <ng-container *ngIf="!activePhysio">
            <p class="card-text">Choose physio from list to show details</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>
