<app-physio-panel-navbar></app-physio-panel-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Patient card</h2>
      <h3 class="text-secondary" *ngIf="!!patient">{{ patient.name }} {{ patient.surname }}</h3>
      <button class="btn btn-primary mb-3" (click)="toggleDiagnosisManagment()">
        {{ diagnosisManagment ? 'Hide' : 'Show' }} Diagnosis Managment
      </button>

      <app-physio-panel-patient-card-diagnosis *ngIf="diagnosisManagment"
                                               (diagnosisEmitter)="addDiagnosis($event)">
      </app-physio-panel-patient-card-diagnosis>

      <div class="list-group">
        <div *ngFor="let diagno of diagnosis" class="list-group-item list-group-item-action patient-details mb-2">
          <h3 class="date">{{ diagno.diagnosisDate }} {{ diagno.diagnosisHour | timeCutter }}</h3>
          <span class="small mb-3">
            Physio id: {{ diagno.physioId }}
          </span>
          <h4 class="mb-0">Diagnosis:</h4>
          <span class="details-text p-3">{{ diagno.diagnosis }}</span>

          <app-physio-panel-patient-card-exercises [availableExercises]="availableExercises"
            [diagnosisId]="diagno.diagnosisId" (addedExercise)="addedExercise()"></app-physio-panel-patient-card-exercises>
        </div>
      </div>
    </div>
  </div>
</div>

